{% extends 'layout.html' %}

{% block content %}
    <button hx-get="/contacts" hx-target="#main" hx-swap="innerHTML" hx-trigger="click, keyup[ctrlKey && key == 'L'] from:body">
        Get The Contacts
    </button>
    <div id="main"></div>
    <form>
        <label for="search">Search Contacts:</label>
        <input id="search" name="q" type="search" placeholder="Search Contacts">
        <button hx-post="/contacts" hx-target="#main">
            Search The Contacts
        </button>
    </form>
{% endblock %}
