<!doctype html>
<html lang="">
    <head>
        <title>Contact App</title>
        <script src="https://unpkg.com/htmx.org@1.9.4"
                integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV"
                crossorigin="anonymous">
        </script>
        <link rel="stylesheet" href="https://the.missing.style/v0.2.0/missing.min.css">
        <link rel="stylesheet" href="/static/css/site.css">
    </head>
    <body>
        <main>
            <header>
                <h1>
                    <span style="text-transform:uppercase;">contacts.app</span>
                    <sub-title>The Chapter 4 Demo</sub-title>
                </h1>
            </header>
            {% block content %}{% endblock %}
        </main>
    </body>
</html>
